<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static%}
</head>
<body>
<h1> This is Django Template</h1>
<h2>My name is {{student}}</h2>
    <center>
   <marquee>  <img src="{% static '/neo.jpeg' %}" alt="My image" height="150px" width="200px"/></marquee>
    </center>
<form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</body>
</html>